html {
  scroll-behavior: smooth;
}

body {
  font-family:  Times, serif;
  background-color: rgb(65,56,41);
  color: rgb(150,150,150);
}

h1 {
  color: rgb(193,188,163);
}

ul {
  list-style: none;
}

a{
  color: rgb(172,166,126);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(193,188,163);
  text-decoration: none;
}

#Menupoint {
  margin-top: 5px;
  background-color: rgb(193,188,163);
  align-items: center;
}

#Menupoint > a {
  color: rgb(50,50,50);
}

#follower, #head {
  text-align: center;
}

#follower {
  width: 900px;
  margin-left: 100px;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  #follower {
    z-index: 2;
    position: fixed;
    top: 0;
    width: 900px;
    margin-top: 100px;
    margin-left: -200px;
}
}

#content {
  text-align: center;
}

#DQ {
  font-size: 40px;
}

#slogan {
  font-family: Arial;
  font-size: 12px;
}
